.keys {
    display: flex;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    margin: 2px;
    width: 55px;
    height: 48px;
}

.numbers {
    display: flexbox;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.operands{
    display: flex;
    flex-direction: column;
    margin: 10px -5px;
}

.display {
    padding: 8px;
}

.displaymon{
    height: 60px;
    width: 250px;
    background-color: white;
    margin: 1px 15px;
    text-align: end;
    padding-top: 15px;
    font-size: 35px;

}

.Cbutton{
    width: 90px;
}

.clearZone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flexbox;
    background-color: grey;
    width: 300px;
    height: 380px;
    flex-direction: column;
    margin-top: 50px;
    
}